
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="about-us">
    
    <div class="content-container">
        <h1>About Us</h1>
        <p>We are a dedicated team...</p>
        <p>Our mission is to...</p>
    </div>
</div>