
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}

<div class="home">
    
    @*<img src="~/Content/Home/images/background-home.jpg" alt="Background Image" class="bg-image" />*@
    <!-- Background Image -->
    <div class="bg-image"></div>

    <!-- Content Container -->
    <div class="content-container">
        <h1>Welcome to Air Booking</h1>
        <p>Find the best deals for your next flight</p>

        <!-- Navigation Links to Different Pages -->
        <div class="page-links">
            <a href="#">Search Flights</a>
            <a href="#">Book a Ticket</a>
            <a href="#">Contact Us</a>
        </div>
    </div>
</div>